.header {
    background-image: url(https://media.istockphoto.com/photos/void-wooden-background-with-spices-top-view-picture-id516549898?k=6&m=516549898&s=612x612&w=0&h=DlXCHpDvRWo8V95r0n_4kx1CSVCHtbeeeO94XXTjqTQ=);
    background-position: bottom;
    color : white;
    letter-spacing : 1.5px;
    border : 10px double black;
    height : 140px;
    border-bottom : 10px solid black;
    border-left-color: white;
    border-right-color: white;
}

.searchBar {
    background-image : url(https://media.istockphoto.com/photos/void-wooden-background-with-spices-top-view-picture-id516549898?k=6&m=516549898&s=612x612&w=0&h=DlXCHpDvRWo8V95r0n_4kx1CSVCHtbeeeO94XXTjqTQ=)
}