.header {
    background-image: url(https://plateupphotography.files.wordpress.com/2015/02/mcgees-21.jpg);
   
    
    background-position-y: 90%; 
    background-position-x: 50%;
    
    
    
    color : white;
    letter-spacing : 1.5px;
    border : 10px double black;
    height : 140px;
    border-bottom : 10px solid black;
    border-left-color: white;
    border-right-color: white;
}

